# PDF resultante
manual_dx_bixx.pdf

# Subprodutos de LaTeX
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.fls

# Cache de thumbnails do Windows
Thumbs.db

# Subprodutos do SCons
.sconsign.dblite

# Arquivos de backup do Emacs
\#*\#
.\#*
